<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Buildings</title>
</head>

<body>
  <h1>Buildings</h1>
  {% if object_list %}
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    {% for building in object_list %}
    <tr>
      <td>{{ building.id }}</td>
      <td><a href="{% url 'readings:building_detail' building.id %}">{{ building.name }}</a></td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No buildings yet.</p>
  {% endif %}
</body>
</html>
