<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Meters</title>

  <style>
    #chart {
      width: 960px;
      height: 500px;
      border: 1px solid #000000;
    }

    .gas {
      fill: none;
      stroke: rgb(180, 99, 70);
      stroke-width: 2px;
    }

    .electricity {
      fill: none;
      stroke: rgb(79, 180, 70);
      stroke-width: 2px;
    }
  </style>

  {% if meters %}
  <script src="https://d3js.org/d3.v4.js"></script>
  <script>
    {% autoescape off %}
    var consumption_data =  {{ daily_consumption }};
    {% endautoescape %}

    window.onload = function() {
      // set the dimensions and margins of the graph
      var margin = {top: 20, right: 20, bottom: 30, left: 50},
          width = 960 - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom;

      // parse the date / time
      var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%SZ");

      // set the ranges
      var x = d3.scaleTime().range([0, width]);
      var y = d3.scaleLinear().range([height, 0]);

      // define the lines
      var gasChart = d3.line()
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.total_gas); });

      var electricityChart = d3.line()
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.total_electricity); });

      var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");

      consumption_data.forEach(function(d) {
        d.date = parseTime(d.day);
        d.total_electricity = d.total_electricity ? parseFloat(d.total_electricity) : 0;
        d.total_gas = d.total_gas ? parseFloat(d.total_gas) : 0;
      });

      // Scale the range of the data
      x.domain(d3.extent(consumption_data, function(d) { return d.date; }));
      y.domain([0, d3.max(consumption_data, function(d) { return d3.max([d.total_gas, d.total_electricity]); })]);

      // Add the valueline path.
      svg.append("path")
          .data([consumption_data])
          .attr("class", "gas")
          .attr("d", gasChart);

      svg.append("path")
          .data([consumption_data])
          .attr("class", "electricity")
          .attr("d", electricityChart);

      // Add the X Axis
      svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

      // Add the Y Axis
      svg.append("g")
          .call(d3.axisLeft(y));
    }
  </script>
  {% endif %}
</head>

<body>
  <h1>Meters for building {{ object.name }}</h1>
  {% if meters %}
  <table>
    <tr>
      <th>ID</th>
      <th>Fuel</th>
      <th>Unit</th>
    </tr>
    {% for meter in meters %}
    <tr>
      <td>{{ meter.id }}</td>
      <td>{{ meter.fuel }}</td>
      <td>{{ meter.unit }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Consumption</h2>
  <p>Red - Natural Gas, Green - Electricity</p>
  <div id="chart"></div>

  {% else %}
  <p>No meters in this building yet.</p>
  {% endif %}


</body>
