<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Upload data</title>
</head>

<body>
  <h1>Upload data</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
</body>
</html>
